//
// Colors
//

// Override Bootstrap color variables

$yellow: #F7B607;

// Override Bootstrap state colors variables

$primary: $yellow;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
